.infographics-hero-img {
    height: auto;
}

.grid.infographics-hero {
    #hero-image-1 {
        -ms-grid-column-span: 9;
        grid-column-end: 18;
        -ms-grid-column: 9;
        grid-column-start: 9;
        -ms-grid-row-span: 5;
        grid-row-end: 13;
        -ms-grid-row: 8;
        grid-row-start: 8;
    }
    #hero-image-2 {
        -ms-grid-column-span: 7;
        grid-column-end: 17;
        -ms-grid-column: 10;
        grid-column-start: 10;
        -ms-grid-row-span: 4;
        grid-row-end: 16;
        -ms-grid-row: 12;
        grid-row-start: 12;
    }
    #hero-image-3 {
        -ms-grid-column-span: 6;
        grid-column-end: 7;
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-row-span: 4;
        grid-row-end: 11;
        -ms-grid-row: 7;
        grid-row-start: 7;
        margin-left: -120px;
    }
    #hero-image-4 {
        -ms-grid-column-span: 4;
        grid-column-end: 5;
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-row-span: 4;
        grid-row-end: 16;
        -ms-grid-row: 12;
        grid-row-start: 12;
        margin-left: -50px;
    }
    #hero-image-5 {}
    #hero-image-6 {}
    #hero-image-7 {}
}