$mobile:                    767px;
$tablet:                    991px;

$grey-light:                #31458405;
$blue:                      #283250;

@mixin gridRow($rowStart, $rowEnd) {
    -ms-grid-row-span: $rowEnd - $rowStart;
    grid-row-end: $rowEnd;
    -ms-grid-row: $rowStart;
    grid-row-start: $rowStart;
}
@mixin gridCol($colStart, $colEnd) {
    -ms-grid-column-span: $colEnd - $colStart;
    grid-column-end: $colEnd;
    -ms-grid-column: $colStart;
    grid-column-start: $colStart;
}

@import 'pages/infographics';
@import 'pages/animation';
@import 'pages/contact';
@import 'components/button';

.grid-chat {
    h1 { font-size: 52px; }
}
.chat-message {
    .before-spinner {
        &:first-child {
            margin-bottom: 1rem;
        }
    }
}
.thumbnail.video {
    width: 100%;
    iframe {
        width: 100%;
    }
}
.home-hero-spinner-wrapper {
    overflow: hidden;
    .home-hero-spinner {
        display: none;
        &.active {
            display: block;
        }
    }
}

.home-hero-video {
    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

