.button {
    margin-right: 0;
    margin-bottom: 3px;
    padding: 0 38px 0 0;
    -webkit-transition: opacity 150ms ease-in-out,
                        background-color 150ms ease-in-out,
                        color 150ms ease-in-out;
    transition: opacity 150ms ease-in-out,
                background-color 150ms ease-in-out,
                color 150ms ease-in-out;
    font-family: stevie-sans,sans-serif;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: $red;
    background-color: transparent;
}
.button .button-arrow, .entry-arrow {
    display: inline-block;
    height: 8px;
    position: relative;
    width: 0;
    color: $red;
    transition: opacity 150ms ease-in-out;
    &:before {
        content: "";
        left: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 23px;
        border-bottom: 1px solid currentcolor;
        transition: width 150ms ease-in-out;
    }
    &:after {
        content: "";
        display: block;
        height: 5px;
        position: absolute;
        right: -10px;
        top: 50%;
        transform: translate(23px, -50%) rotate(45deg);
        width: 5px;
        border-right: 1px solid currentcolor;
        border-top: 1px solid currentcolor;
        transition: transform 150ms ease-in-out;
    }
}