.flex.mute-button {
    z-index: 2;
    overflow: hidden;
    -webkit-transition: width 150ms ease-in-out, all 150ms ease-in-out;
    transition: width 150ms ease-in-out, all 150ms ease-in-out;
}
.button.icon-button.no-arrow.mute-button {
    padding-right: 16px;
    padding-left: 0;
    color: $blue;
    font-size: 12px;
}
.icon.mute-button,
.team-thumbnail {
    position: relative;
    overflow: hidden;
}
.icon.mute-button {
    width: 100%;
    -webkit-transition: width 150ms cubic-bezier(0.18, 0.89, 0.31, 1.06);
    transition: width 150ms cubic-bezier(0.18, 0.89, 0.31, 1.06);
    background: $grey-light;
}
.icon.mute-button.compressed {
    width: 60px;
}
.icon-image.mute-button {
    width: auto;
    height: auto;
    margin-left: 21px;
}