header {
    position: fixed;
    z-index: 1000;
    width: 100vw;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: transparent;
    nav {
        position: relative;
        display: flex;
        width: 100vw;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        background-color: $blue;
        .nav-menu-inner {
            height: 100vh;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            margin-right: auto;
            margin-left: auto;
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            .menu-content-wrapper {
                -ms-grid-column-align: stretch;
                justify-self: stretch;
                -ms-grid-column-span: 3;
                grid-column-end: 8;
                -ms-grid-column: 5;
                grid-column-start: 5;
                -ms-grid-row-span: 1;
                grid-row-end: 2;
                -ms-grid-row: 1;
                grid-row-start: 1;
                .background.rectangle.menu {
                    left: 100px;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    margin-top: -20%;
                    margin-bottom: -20%;
                    padding-bottom: 100%;
                    -webkit-box-flex: 1;
                    -webkit-flex: 1;
                    -ms-flex: 1;
                    flex: 1;
                    background-color: #192440;
                    background-image: url(https://uploads-ssl.webflow.com/5d16087…/5d5bbe2…_blue-bg.png);
                    background-position: 0 0;
                }
                .nav-link {
                    margin-bottom: 25px;
                    padding: 0;
                    border-color: $white;
                    -webkit-transition: all 150ms ease-in-out;
                    transition: all 150ms ease-in-out;
                    font-size: 48px;
                    line-height: 45px;
                    font-weight: 200;
                }
            }
        }
    }
    .navbar-nav {
        z-index: 2;
        padding: 0 40px;
        max-width: none !important;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transition: opacity 350ms ease-in-out,-webkit-transform 350ms ease-in-out;
        transition: opacity 350ms ease-in-out,-webkit-transform 350ms ease-in-out;
        transition: transform 350ms ease-in-out,opacity 350ms ease-in-out;
        transition: transform 350ms ease-in-out,opacity 350ms ease-in-out,-webkit-transform 350ms ease-in-out;
        .brand {
            max-width: 110px;
            svg {
                .brand-f {}
                .brand-erdio {}
            }
        }
        .menu-button {
            -ms-grid-column: 12;
            grid-column-start: 12;
            justify-self: end;
            -ms-grid-column-align: end;
            -ms-grid-row-span: 1;
            -ms-grid-row-align: center;
            align-self: center;
            grid-row-start: 1;
            -ms-grid-row: 1;
            grid-column-end: 13;
            grid-row-end: 2;
            z-index: 1200;
            display: flex;
            width: 25px;
            height: 25px;
            margin-top: 5px;
            padding: 0;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            cursor: pointer;
            .menu-icon {
                align-self: center;
                .menu-line {
                    width: 25px;
                    height: 1px;
                    background-color: $blue;
                    -webkit-transition: all .1s ease-in-out;
                    transition: all .1s ease-in-out;
                    background-color: $white;
                    &.menu-line-1 {transform: translate(0,-3px) rotate(0);}
                    &.menu-line-2 {transform: translate(0,3px) rotate(0);}
                }
            }
        }
    }
}