@mixin gridRow($rowStart, $rowEnd) {
    -ms-grid-row-span: calc($rowEnd - $rowStart);
    grid-row-end: $rowEnd;
    -ms-grid-row: $rowStart;
    grid-row-start: $rowStart;
}
@mixin gridCol($colStart, $colEnd) {
    -ms-grid-column-span: calc($colEnd - $colStart);
    grid-column-end: $colEnd;
    -ms-grid-column: $colStart;
    grid-column-start: $colStart;
}

.infographics-hero-img {
    height: auto;
}

.grid.infographics-hero {
    #hero-image-1 {
        @include gridRow(8, 13);
        @include gridCol(9, 18);
        // -ms-grid-column-span: 9;
        // grid-column-end: 18;
        // -ms-grid-column: 9;
        // grid-column-start: 9;
        // -ms-grid-row-span: 5;
        // grid-row-end: 13;
        // -ms-grid-row: 8;
        // grid-row-start: 8;
    }
    #hero-image-2 {
        -ms-grid-column-span: 7;
        grid-column-end: 17;
        -ms-grid-column: 10;
        grid-column-start: 10;
        -ms-grid-row-span: 4;
        grid-row-end: 16;
        -ms-grid-row: 12;
        grid-row-start: 12;
    }
    #hero-image-3 {
        -ms-grid-column-span: 6;
        grid-column-end: 7;
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-row-span: 4;
        grid-row-end: 11;
        -ms-grid-row: 7;
        grid-row-start: 7;
        margin-left: -120px;
    }
    #hero-image-4 {
        -ms-grid-column-span: 4;
        grid-column-end: 5;
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-row-span: 4;
        grid-row-end: 16;
        -ms-grid-row: 12;
        grid-row-start: 12;
        margin-left: -50px;
    }
    #hero-image-5 {
        -ms-grid-column-span: 7;
        grid-column-end: 25;
        -ms-grid-column: 18;
        grid-column-start: 18;
        -ms-grid-row-span: 4;
        grid-row-end: 10;
        -ms-grid-row: 6;
        grid-row-start: 6;
        margin-left: 20px;
    }
    #hero-image-6 {
        -ms-grid-column-span: 5;
        grid-column-end: 25;
        -ms-grid-column: 20;
        grid-column-start: 20;
        -ms-grid-row-span: 4;
        grid-row-end: 14;
        -ms-grid-row: 10;
        grid-row-start: 10;
        margin-left: 120px;
    }
    #hero-image-7 {
        -ms-grid-column-span: 6;
        grid-column-end: 25;
        -ms-grid-column: 19;
        grid-column-start: 19;
        -ms-grid-row-span: 5;
        grid-row-end: 19;
        -ms-grid-row: 14;
        grid-row-start: 14;
    }
}

.infographics-copy {
    #icons-1 {
        -ms-grid-column-span: 5;
        grid-column-end: 7;
        -ms-grid-column: 2;
        grid-column-start: 2;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
        -ms-grid-row: 1;
        grid-row-start: 1;
        @media screen and (max-width: $mobile) {
            -ms-grid-row: 2;
            grid-row-start: 2;
            -ms-grid-row-span: 1;
            grid-row-end: 3;
            -ms-grid-column: 2;
            grid-column-start: 2;
            -ms-grid-column-span: 10;
            grid-column-end: 12;
        }
    }
    #icons-2 {
        -ms-grid-column-span: 5;
        grid-column-end: 7;
        -ms-grid-column: 2;
        grid-column-start: 2;
        -ms-grid-row-span: 1;
        grid-row-end: 3;
        -ms-grid-row: 2;
        grid-row-start: 2;
        @media screen and (max-width: $mobile) {
            -ms-grid-column: 2;
            grid-column-start: 2;
            -ms-grid-column-span: 10;
            grid-column-end: 12;
            -ms-grid-row: 3;
            grid-row-start: 3;
            -ms-grid-row-span: 1;
            grid-row-end: 4;
        }
    }
    #icons-1,
    #icons-2 {
        div {
            flex: 1;
        }
    }
}